@using sailing17Mobile.Models;
@using sailing17Mobile.Models.Customer;
@{
    ViewBag.Title = "首页";
    //新闻
    List<News> newslist = ViewBag.newslist;
    
    //客户列表
    List<Customer> customerlist = ViewBag.customerlist;
     
    //链接列表    
    string[,] links = { 
        {"我的定舱" , "user" , "orders"} , 
        {"船期信息" , "plan" , ""} , 
        {"码头服务" , "port" , ""} , 
        {"我的押金" , "user" , "moneys"} , 
        {"进出口查询" , "jck" , ""} , 
        {"个人信息" , "user" , ""} 
    };    
}

@section headContent{
<style>
#carousel-gallery {overflow: hidden !important;}		
#carousel-gallery .touchcarousel-wrapper {overflow: visible;}
</style>
}
    <!--最新消息显示-->
	<div class='news'>
    <table>
        <tr>
            <td width="36px"><a href="@Url.Action("" , "news")" class='iconblock fl'>N</a></td>
            <td width="*">
		    <div class='list' style="overflow:hidden">
                <div class="touchslider-viewport"><div>
                @foreach(News news in newslist){               
			        <a href='@Url.Action("detail", "news", new { id = news.new_id })' class="touchslider-item">@news.title</a>
                }
                </div></div>
		    </div>
            </td>
        </tr>    
    </table>

	</div>
    <!--菜单-->
	<dl style="padding:0;margin:0;list-style:none;" class="clearfix">
    @for (int i = 0; i < links.GetLength(0); i++){ 
        <dd class ="a@(i + 1) @( (i + 1) % 3 == 0 ? "last" : "")"><a href="@Url.Action(links[i, 2], links[i, 1])"><p>@links[i, 0]</p></a></dd>
    }
	</dl>
    <!--客户图标-->
	<div id="carousel-gallery" class='customer touchcarousel'>
		<p>船舶五日滚动协同动态</p>
		<ul class="touchcarousel-container clearfix">
        @foreach (var c in customerlist) { 
            if (c.ntype != "") {
            <li class="touchcarousel-item">
            <a href='@Url.Action("", "customer", new { id = c.customer_code })'>
            <img src="~/res/img/customer/c_@(c.customer_code).jpg" />
            </a>
            </li>
            }
        }
		</ul>
	</div>

    <!--加载脚本-->
    @section footContent {
        @Scripts.Render(
            "~/script/jquery.touchcarousel-1.0.min.js",//客户图标滚动
            "~/script/jquery.touchslider.min.js"//最新消息滚动
        )
        <script type="text/javascript">
            jQuery(function ($) {

                 //消息自动滚动
                $(".news .list").touchSlider({
                    duration: 500, // 移动速度
                    delay: 2000, // 自动播放间隔时间
                    mouseTouch: true,
                    autoplay: true , 
                    viewport: ".touchslider-viewport"
                });
                         
                //客户图片拖动
                carouselInstance = $("#carousel-gallery").touchCarousel({
                    itemsPerPage: 1,
                    scrollbar: false,
                    scrollbarAutoHide: true,
                    scrollbarTheme: "dark",
                    pagingNav: false,
                    snapToItems: false,
                    scrollToLast: false,
                    useWebkit3d: true,
                    loopItems: true
                }).data('touchCarousel');

            });
        </script>            
    }